@charset "utf-8";

html {
    background-color: lightskyblue;
}

h1 {
    position: absolute;
    top: 20px;
    left: 350px;
}

#表格 {
    position: fixed;
    display: none;
}

#表格, #图例 {
    border: solid 2px;
    border-radius: 5px;
    border-spacing: 0;
    text-align: center;
}

#图例 {
    position: absolute;
    top: 520px;
    left: 125px;
}

#表格 th {
    background-color: lightgrey;
}

#表格 td {
    background-color: lightgrey;
    cursor: pointer;
}

#分享 {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#分享 a {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#脸书 {
    background-color: #3b5998;
    color: white;
}

#产生图片 {
    background-color: lightgrey;
    color: black;
}

#地图 {
    position: relative;
    width: 864px;
    height: 720px;
    background-color: lightskyblue;
}

th, td {
    padding: 0.2em;
}

footer {
    font-size: x-small;
}
